body {
  background-color: #f9f7fe;
  font-family: "Montserrat", sans-serif;
}
.weather-app {
  background-color: white;
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 18px;
}

header {
  border-bottom: 2px solid rgb(128, 128, 128, 0.2);
  padding: 20px;
}

.search-form-input {
  background-color: rgba(128, 128, 128, 0.2);
  border: none;
  border-radius: 5px;
  width: 80%;
  padding: 16px 20px;
  font-size: 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 3px;
  font-family: "Montserrat", sans-serif;
}

.search-form-input:hover {
  background-color: white;
  color: black;
}

.search-form-button {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 14px 18px;
  font-size: 14px;
  font-weight: bold;
  margin: 2px;
  border-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: "Montserrat", sans-serif;
}

.search-form-button:hover {
  cursor: pointer;
  background-color: #1e90ff;
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition: all 250ms ease-in-out;
}

main {
  padding: 15px;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

#weather-app-icon {
  width: 120px;
  height: 120px;
}

#weather-app-humidity {
  font-weight: 700;
}

#weather-app-wind-speed {
  font-weight: 700;
}

#weather-app-description {
  font-size: 2em;
  margin: 0 0 30px;
}

.weather-app-city {
  font-size: 2.5em;
  font-weight: 500;
}

.weather-app-temperature {
  font-size: 6em;
  font-weight: 800;
}

.weather-app-unit {
  font-size: 2.5em;
  position: absolute;
  padding: 15px 0 0 0;
}

footer {
  border-top: 2px solid rgb(128, 128, 128, 0.2);
  padding: 20px;
  text-align: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}
